:root {
    --color-background: white;
    --color-on-background: black;
    --color-primary: #001b74;
    --color-on-primary: white;
}

$background-color: var(--color-background);
$on-background-color: var(--color-on-background);
$primary-color: var(--color-primary);
$on-primary-color: var(--color-on-primary);
