@use '_theme' as t;

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: t.$background-color;
    color: t.$on-background-color;
}

header,
main {
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(16em, 1fr);
    column-gap: 2rem;
}

header {
    display: flex;
    padding-inline: calc(12.5vw);
    height: 4rem;
    background-color: t.$primary-color;
    color: t.$on-primary-color;

    @media screen and (min-width: 1280px) {
        display: grid;
        padding-inline: 0;
    }

    .logo {
        justify-self: end;
        align-self: center;
    }

    .nav {
        flex: 1;
    }
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;

    > div {
        overflow-y: scroll;
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}
