@use 'util/capsize';

@mixin lexend-deca($cap-height, $line-gap) {
    font-family: 'Lexend Deca', sans-serif;
    @include capsize.capsize(
        (
            'capHeight': 700,
            'ascent': 1000,
            'descent': -250,
            'unitsPerEm': 1000,
        ),
        $cap-height,
        $line-gap
    );
}

h1,
.type-h1,
.type-headline-lg {
    @include lexend-deca(36, 16); // Headline Large
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
}

h2,
.type-h2,
.type-headline-md {
    @include lexend-deca(24, 16); // Headline Medium
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
}

h3,
.type-h3,
.type-headline-sm {
    @include lexend-deca(16, 12); // Headline Small
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
}

h4,
.type-h4,
.type-title-lg {
    @include lexend-deca(16, 12); // Title Large
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
}

h5,
.type-h5,
.type-title-md {
    @include lexend-deca(14, 12); // Title Medium
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
}

h6,
dt,
.type-h6,
.type-title-sm {
    @include lexend-deca(12, 12); // Title Small
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
}

.type-label-lg {
    @include lexend-deca(12, 8); // Label Large
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
}

.type-label-md {
    @include lexend-deca(10, 8); // Label Medium
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
}

.type-label-sm {
    @include lexend-deca(8, 4); // Label Small
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
}

p,
.type-body {
    @include lexend-deca(12, 16); // Body Medium
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
}
