@use '../_theme' as t;

.page-leaderboard {
    grid-template-columns: minmax(24rem, 2fr) 3fr;
    max-width: 80rem;
    margin: 0 auto;

    .board-container,
    .player-container {
        padding-block: 2rem;
    }

    .board {
        display: grid;
        grid-template-columns: max-content max-content minmax(0, 1fr);
        grid-auto-rows: max-content;
        align-items: center;
        column-gap: 1rem;
        padding-inline: 1rem;

        .rank {
            justify-self: end;
        }

        .total {
            justify-self: end;
        }

        .user {
            button {
                background-color: t.$background-color;
                color: t.$on-background-color;
                border: none;
                border-radius: 0.5rem;
                padding: 1rem;
                text-align: start;
                line-break: anywhere;

                &:hover {
                    background-color: #eee;
                    color: black;
                    cursor: pointer;
                }
            }

            &.active button {
                background-color: t.$primary-color;
                color: t.$on-primary-color;
            }
        }
    }

    .player {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 2rem;

        .table {
            display: grid;
            grid-template-columns: max-content minmax(0, 1fr) max-content;
            grid-auto-rows: max-content;
            align-items: center;
            column-gap: 2rem;

            p,
            a {
                padding-block: 1rem;
            }

            .rank,
            .score {
                justify-self: end;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
