.page-leaderboard {
    max-width: 96rem;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;

    .board-container,
    .player-container {
        padding-block: 2rem;
    }

    .player {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 48rem;

        .table {
            display: grid;
            grid-template-columns: max-content 2fr 1fr max-content;
            grid-auto-rows: 2rem;
            align-items: center;
            column-gap: 2rem;

            .rank,
            .score {
                justify-self: end;
            }

            a {
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: background-color;

                &:hover {
                    background-color: rgba(#000, 0.1);
                }
            }
        }
    }
}
