.page-list {
    .list-container,
    .level-container,
    .meta-container {
        padding-block: 2rem;
    }

    .level {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 2rem;
        max-width: 48rem;

        .level-authors {
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-auto-rows: max-content;
            gap: 1rem;
        }

        .video {
            aspect-ratio: 16 / 9;
        }

        .stats {
            display: flex;
            justify-content: space-evenly;
            gap: 2rem;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }

        .records {
            display: grid;
            grid-template-columns: max-content 2fr 1fr max-content;
            align-items: center;
            gap: 1rem;

            .link {
                width: 2rem;

                a {
                    height: 2rem;
                    width: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: background-color;

                    &:hover {
                        background-color: rgba(#000, 0.1);
                    }
                }
            }
        }
    }

    .meta {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .editors {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    height: 1.25rem;
                }
            }
        }
    }
}
