.list {
    li {
        display: flex;
        align-items: center;
        color: white;
        gap: 1rem;

        &.active {
            color: orange;
        }

        button {
            background-color: transparent;
            border: none;
            border-radius: 0.5rem;
            padding: 0;
            text-align: start;
            line-break: anywhere;
            padding-block: 1rem;

            &:hover {
                background-color: #eee;
                color: black;
                cursor: pointer;
            }
        }
    }
}
