@use '../_theme' as t;

.list {
    table-layout: fixed;
    border: none;

    .list__item {
        &.list__item--active {
            .list__level button {
                background-color: t.$primary-color;
                color: t.$on-primary-color;
            }
        }

        .list__rank {
            padding: 1rem;
            text-align: end;
        }

        .list__level button {
            background-color: t.$background-color;
            color: t.$on-background-color;
            border: none;
            border-radius: 0.5rem;
            padding: 1rem;
            text-align: start;
            line-break: anywhere;

            &:hover {
                background-color: #eee;
                color: black;
                cursor: pointer;
            }
        }
    }
}
