.nav {
    display: flex;
    column-gap: 2rem;

    .nav__tab {
        padding-top: 4px;
        border-bottom: 4px solid transparent;
        display: flex;
        align-items: center;
        transition: border-color 100ms ease;

        &.router-link-active {
            // Special Vue-Router class
            color: orange;
        }

        &:hover {
            background-color: #eee;
            color: black;
            cursor: pointer;
        }
    }

    .nav__actions {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        .nav__icon {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 100ms ease;

            &:hover {
                background-color: rgba(#fff, 0.2);
            }

            img {
                height: 1.5rem;
            }
        }

        .nav__cta {
            padding: 0.5rem;
            color: black;
            border: 4px outset #eee;
            background-color: #ccc;

            &:active {
                border-style: inset;
            }
        }
    }
}
