.page-roulette .sidebar {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}
.page-roulette .sidebar a {
    text-decoration: underline;
}
.page-roulette .sidebar a:hover {
    color: var(--color-on-background);
}

.page-roulette .sidebar .check {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.page-roulette .sidebar form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.page-roulette .sidebar .save .btns {
    display: flex;
    gap: 1rem;
}

.page-roulette .levels-container {
    grid-row: 1;
    grid-column: 2 / span 2;
    overflow-y: auto;
    padding-right: 2rem;
}

.page-roulette .levels {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    gap: 2rem;
}

.page-roulette .levels .level {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-auto-rows: max-content;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--color-background-hover);
}
.page-roulette .levels .level .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-roulette .levels .level .meta {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-roulette .levels .level .actions {
    grid-column: 1 / span 2;
    background-color: #1b314f;
    margin: 0;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}
.page-roulette .levels .level .actions input[type="number"] {
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background-color: #475a7b;
    flex: 1;
    color: white;
}
.page-roulette .levels .level .actions input[type="number"]::placeholder {
    color: #7487aa;
}
.page-roulette .levels .results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-roulette .levels .results h1 {
    margin-bottom: 0.5rem;
}
.page-roulette .levels .results .btn {
    margin-top: 1rem;
}
.page-roulette .toasts-container {
    overflow-y: auto;
    grid-column: 2 / span 2;
    grid-row: 1;
    align-self: start;
    margin-block: 2rem;
    margin-right: 2rem;
}
.page-roulette .toasts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
}
.page-roulette .toast {
    display: flex;
    background-color: #d50000;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media screen and (min-width: 1366px) {
    .page-roulette .levels-container {
        grid-column: 2;
        padding-right: 0;
    }
    .page-roulette .toasts-container {
        grid-column: 3;
        margin: 0;
        padding-right: 2rem;
        padding-block: 2rem;
        align-self: stretch;
    }
}
